# Visual Studio / MSBuild
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]*/
[Aa][Rr][Mm]64/

# NuGet
packages/
*.nupkg
*.snupkg

# VS Code / ReSharper / Rider
.vscode/
*.sln.iml
*.DotSettings.user
_ReSharper*/
.idea/

# Logs
*.log

# Windows / OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Store/UWP/Packaging
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.msix
*.msixbundle
*.appxupload
*.msixupload

# Azure App Service / Publish
PublishProfiles/
!Auto-Clicker/Properties/PublishProfiles/
!Auto-Clicker/Properties/PublishProfiles/*.pubxml

# Test results
[Tt]est[Rr]esult*/
[Tt]est[Rr]esults/

# DOTNET tooling
.dotnet/

